/f2016_10/
/f2016_11/

/.idea/
/mnist_loader

/link_to_keras_ipi/
/link_to_soliton/
f2017_01/__pycache__/
f2017_01/tensorflow_folder/__pycache__/__init__.cpython-35.pyc
f2017_02/__pycache__/
f2017_05/__pycache__/
f2017_06/__pycache__/audio_conv_utils.cpython-35.pyc
f2017_06/__pycache__/block_data2.cpython-35.pyc
f2017_08/GUI/__pycache__/
f2017_08/__pycache__/
f2017_08/hsi/__pycache__/
f2017_09/__pycache__/
f2017_09/lamb/__pycache__/
lambnet/__pycache__/
link_to_keras_ipi
link_to_soliton
